body{
    line-height: 1.5;
}
.header {
    align-items: center;
    display: flex;
    border-bottom: 1px solid #000;
    padding: 10px 20px;
    font-family: Roboto;
    font-size: 20px;
}
.logo {
    padding: 5px 15px;
    margin-right: 50px;
    text-decoration: none;
    font-weight: 700;
    color: lightgreen;
    background-color: rebeccapurple;
}
ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
ul > li {
    margin-right: 30px;
}
.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}
.aside {
    background-color: lavender;
    padding: 10px 20px;
}
.post {
    padding-bottom: 20px;
}
footer{
    font-family: Roboto;
    font-size: 13px;
    padding: 0 20px;
}
a{
    color: rebeccapurple;
    font-weight: 700;
    text-decoration: none;
}
h1, h2, h3{
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
section{
    background-color: lavender;
    padding: 5px 20px;
    margin-bottom: 20px;
}